body{
    background-color: #ebeaebff;
    max-width:100vh;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fall-out {
  transform: translateY(100px) rotate(10deg);
  opacity: 0;
}
